In [ ]:
import pandas as pd

df = pd.read_csv("../data/access_logs.csv", parse_dates=["timestamp"])
df.head()

,user_id,timestamp,file_accessed,access_type,location,role,failed_logins
0,1104,2024-01-01 08:06:00,Finance_Report,read,Office,Employee,0
1,1034,2024-01-01 09:05:00,Finance_Report,read,Office,Employee,1
2,1051,2024-01-01 09:05:00,HR_Records,read,Office,Employee,0
3,1103,2024-01-01 07:21:00,Client_Data,read,Remote,Admin,0
4,1039,2024-01-01 10:07:00,Engineering_Design,write,Remote,Employee,0

In [ ]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        15000 non-null  int64
 1   timestamp      15000 non-null  datetime64[ns]
 2   file_accessed  15000 non-null  object
 3   access_type    15000 non-null  object
 4   location       15000 non-null  object
 5   role           15000 non-null  object
 6   failed_logins  15000 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 820.4+ KB

user_id          0
timestamp        0
file_accessed    0
access_type      0
location         0
role             0
failed_logins    0
dtype: int64

In [ ]:
df["hour"] = df["timestamp"].dt.hour
df["day_of_week"] = df["timestamp"].dt.day_name()

df[["timestamp", "hour", "day_of_week"]].head()

            timestamp  hour day_of_week
0 2024-01-01 08:06:00     8      Monday
1 2024-01-01 09:05:00     9      Monday
2 2024-01-01 09:05:00     9      Monday
3 2024-01-01 07:21:00     7      Monday
4 2024-01-01 10:07:00    10      Monday

In [ ]:
df.to_csv("../data/access_logs_cleaned.csv", index=False)
print("Cleaned dataset saved.")

Cleaned dataset saved.